<div fxHide.lt-md>
  <div fxLayout="row">
    <div fxFlex="70%" class="flex-wrapper" [style.margin-top]="'12px'">
      <google-map [center]="centerInitial" (boundsChanged)="boundsChange()" width="100%" [options]="options"  >
        <map-marker
          #markerT="mapMarker"
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
          (mapClick)="openInfo(markerT, marker)"
        >
        </map-marker>
        <map-info-window>{{ infoContent }}</map-info-window>
      </google-map>
    </div>
    <!-- margin top -->
    <div fxFlex="30%" class="flex-wrapper">
      <mat-card *ngFor="let marker of markers" [style.margin-top]="'12px'" [style.margin-left]="'12px'">
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>{{ marker.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Distance: {{ marker.distance }}km</p>
        </mat-card-content>
      </mat-card>
  </div>
</div>


